<footer class="footer_section  position-relative bg-black">
    <div class="container-fluid inner_section py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-lg-0 mb-md-0 mb-0">
                    <div class="footer_box">
                        <div class="footerLogo mb-3">
                            <img src="./assets/image/logos/logo.png" alt="Logo" class="h-100">
                        </div>
                        <div class="footerText">At our core, we are fueled by an unwavering passion that permeates every aspect of our work. 
                            With a relentless pursuit of excellence, we strive to create extraordinary solutions that inspire and exceed expectations. 
                            We believe that passion is the driving force behind our success, and it is what sets us apart in everything we make.
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-12 mb-lg-0 mb-md-5 mb-4">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading fw-bold mb-3">Helpful Links</h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Home</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Our Work</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Services</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Portfolio</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Solutions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-12 mb-lg-0 mb-md-0 mb-4">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading fw-bold mb-3">Quick Links</h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Games</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>About Us</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Contact Us</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Privacy Policy</a></li>
                            <li><a href="javascript:;" class="mb-2 d-block"><span class="d-inline-block"><img class="w-100 h-100" src="./assets/image/index/angle-double-right.svg" alt="Angle-Double-Right"></span>Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5 mb-4">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading fw-bold mb-3">Get In Touch</h2>
                        <div class="social_icon">
                            <ul class="links_footer list-unstyled p-0 d-flex align-items-center gap-3 mb-2">
                                <li><a href="javascript:;" class="rounded-circle d-flex align-items-center justify-content-center"><span class="d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="./assets/image/index/facebook.svg" alt="facebook"></span></a></li>
                                <li><a href="javascript:;" class="rounded-circle d-flex align-items-center justify-content-center"><span class="d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="./assets/image/index/twitter-x.svg" alt="twitter"></span></a></li>
                                <li><a href="javascript:;" class="rounded-circle d-flex align-items-center justify-content-center"><span class="d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="./assets/image/index/instagram.svg" alt="instagram"></span></a></li>
                                <li><a href="javascript:;" class="rounded-circle d-flex align-items-center justify-content-center"><span class="d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="./assets/image/index/linkedin-in.svg" alt="linkedin"></span></a></li>
                            </ul>
                        </div>
                        <div class="footerAddress">
                            <p>C-73, Vaishali Marg, Block C, Vaishali Nagar, Jaipur, Rajasthan 302021</p>
                            <p>Phone: <a href="tel:(+91) 9549581582">(+91) 9549581582</a></p>
                            <p>E-Mail: <a href="mailto:info@adconinfotech.com">info@adconinfotech.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container copyright-inner ">
            <div class="row py-3">
                <div class="col-12 text-center">
                    <p>
                        <span>
                            <img src="./assets/image/index/star.png" alt="star">
                            <img src="./assets/image/index/star.png" alt="star">
                            <img src="./assets/image/index/star.png" alt="star">
                            <img src="./assets/image/index/star.png" alt="star">
                            <img src="./assets/image/index/star.png" alt="star">
                        </span>
                        4.9 / 5.0 by 10+ customers for 15+ Web and <a href="javascript:;">Mobile App Development</a> Projects.
                    </p>
                    <p class="mb-0">@ 2023 Adcon Infotech private Limited. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>