.mainbtn{
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    border: 1.5px solid $theme1;
    color: $white !important;
    &:hover{
        color: $theme1 !important;
        background: $white !important;
        border-color: $theme1;
    }
}$btn-bg:$theme2;
$btn-color:$theme1;
$btn-width: 200px;
$btn-height:35px;
.cr_btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: $btn-width;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $btn-color;
    color: $btn-color;
    line-height: $btn-height;
    box-sizing: border-box;
    transition: 0.8s ease-in-out;
    padding: 4px 16px;
    z-index: 1;
    &:before,
    &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
        z-index: -1;
        width: 20px;
        height: 20px;
        background-color: $btn-color;
        border-radius: 50%;
        top: 50%;
    }
    &:before {
      left: -20px;
      transform: translate(-50%, -50%);
    }
    
    &:after {
      right: -20px;
      transform: translate(50%, -50%);
    }
    &:hover {
      color: $white;
      &:before {
        animation: criss-cross-left 0.8s both;
        animation-direction: alternate;
      }
      
      &:after {
        animation: criss-cross-right 0.8s both;
        animation-direction: alternate;
      }
    }
  &.cr_btn_outline{
    background-color: $btn-color;
    border-color: $btn-color;
    color: $white;
    &:hover{
      color: $btn-color;
      background-color: transparent;
      &::before{
        animation: criss-cross-left 0.8s reverse;
      }
      &::after{
        animation: criss-cross-right 0.8s reverse;
      }
    }
  }
}
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 2%;
    height: 20px;
  }
  100% {
    left: 50%;
    width: calc($btn-width * 1.5);
    height: calc($btn-width * 1.5);
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
     width: 20px;
     height: 20px;
  }
  100% {
    right: 50%;
    width: calc($btn-width * 1.5);
    height: calc($btn-width * 1.5);
  }
}

// Small devices (landscape phones, 576px and up)
@mixin mainbtn-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin mainbtn-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin mainbtn-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin mainbtn-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin mainbtn-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin mainbtn-mixin-max-xs() {
    .mainbtn{
        font-size: 13px;
        &:hover{}
    }
}

// Small devices (landscape phones, less than 768px)
@mixin mainbtn-mixin-max-sm() {
    .mainbtn{
        font-size: 13px;
        &:hover{}
    }
}

// Medium devices (tablets, less than 992px)
@mixin mainbtn-mixin-max-md() {
    .mainbtn{
        font-size: 14px;
        &:hover{}
    }
}

// Large devices (desktops, less than 1200px)
@mixin mainbtn-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin mainbtn-mixin-max-xl() {}


