@charset "UTF-8";
@import "variables";
//------------------------------------------HomePage-------------------------------------------------------
[data-page-name="homePage"] {
    .hero-section {
        background-image: url(../image/index/home-banner2.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
      
        & .inner_section {
          position: relative;
          z-index: 1;
          & .inner {
            & .hero_title {
              letter-spacing: 1px;
              font-size: 40px;
              line-height: 60px;
              text-shadow: 0 2px 3px rgba($black, 0.6);
            }
            & .section_info {
              letter-spacing: .5px;
              font-size: 18px;
            }
          }
          & .inner_img {
            z-index: 0;
          }
            & .inner_img .uperImg {
              position: absolute;
              z-index: 1;
            }
            & .inner_img .uperImg:nth-child(1) {
              width: 10%;
              height: auto;
              left: 20%;
              top: 15%;
              animation: none;
            }
            & .inner_img .uperImg:nth-child(2) {
              width: 15%;
              height: auto;
              left: 28%;
              top: 3%;
              z-index: 1;
              animation-name: heroImg3;
            }
            & .inner_img .uperImg:nth-child(3) {
              width: 14%;
              height: auto;
              right: 15%;
              top: 27%;
              z-index: 0;
              animation-name: heroImg4;
            }
            & .inner_img .uperImg:nth-child(4) {
              width: 10%;
              height: auto;
              right: -2%;
              top: 45%;
              z-index: 0;
            }
            & .inner_img .uperImg:nth-child(5) {
              width: 10%;
              height: auto;
              right: 4%;
              bottom: 15%;
              z-index: 0;
            }
            & .inner_img .uperImg:nth-child(6) {
              width: 8%;
              height: auto;
              left: 4%;
              bottom: 15%;
              z-index: 0;
            }
            & .inner_img .uperImg:nth-child(7) {
              width: 6%;
              height: auto;
              right: 14%;
              top: 15%;
              z-index: 0;
            }
        }
        &::before{
          content: '';
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.7);
          z-index: 0;
        }
      }
      .heroImgAnimation {
        animation: heroImg 5s linear infinite;
      }
      .heroImgAnimation2 {
        animation: heroImg2 15s linear infinite;
      }
      @keyframes heroImg {
        0% {
          transform: translateY(-10px);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(-10px);
        }
      }
      @keyframes heroImg3 {
        0% {
          transform: translateX(-10px);
        }
        50% {
          transform: translateX(10px);
        }
        100% {
          transform: translateX(-10px);
        }
      }
      @keyframes heroImg4 {
        0% {
          transform: translateX(10px);
        }
        50% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateX(10px);
        }
      }
      @keyframes heroImg2 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    .sectionHeading {
        font-size: 28px;
        font-weight: 600;
        color: $theme1;
        & span {
          color: $theme2;
        }
    }
    .sectionText {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        color: rgba($black, 0.6);
    }
    .sectionTwo {
        & .devCard {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 4px;
            border-radius: 8px;
            box-shadow: 0px 0px 8px 1px #eee;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 500px;
            //     height: 500px;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     background: $theme2;
            //     background: -moz-linear-gradient(90deg, $theme2 0%, $theme1 50%, $theme2 100%);
            //     background: -webkit-linear-gradient(90deg, $theme2 0%, $theme1 50%, $theme2 100%);
            //     background: linear-gradient(90deg, $theme2 0%, $theme1 50%, $theme2 100%);
            //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#049e9c",endColorstr="#049e9c",GradientType=1);
            //     animation: devAnimation 5s linear infinite;
            //     z-index: 0;
            // }
            & .card-body {
                padding: 15px;
                position: relative;
                z-index: 1;
                background-color: $white;
                border-radius: 8px;
                overflow: hidden;
                height: 100%;
                width: 100%;
                transition: all 0.3s ease-in-out;
                & .card-img {
                    width: auto;
                    height: 40px;
                    transition: all 0.3s ease-in-out;
                    margin-bottom: 15px;
                    & img {
                        height: 100%;
                        transition: all 0.3s ease-in-out;
                    }
                }
                & .card-title {
                    font-size: 18px;
                    line-height: 24px;
                    color: $theme1;
                    transition: all 0.3s ease-in-out;
                }
                & .card-text {
                    font-size: 14px;
                    line-height: 20px;
                    color: $secondary;
                    transition: all 0.3s ease-in-out;
                }
                // &::before {
                //     content: "";
                //     position: absolute;
                //     width: 150%;
                //     height: 150%;
                //     margin-top: -15%;
                //     margin-left: -15%;
                //     // top: 50%;
                //     // left: 50%;
                //     // transform: translate(-50%, -50%);
                //     background: $theme2;
                //     background: -moz-linear-gradient(45deg, $theme2 0%, $theme1 25%, $theme2 50%, $theme1 75%, $theme2 100%);
                //     background: -webkit-linear-gradient(45deg, $theme2 0%, $theme1 25%, $theme2 50%, $theme1 75%, $theme2 100%);
                //     background: linear-gradient(45deg, $theme2 0%, $theme1 25%, $theme2 50%, $theme1 75%, $theme2 100%);
                //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#049e9c",endColorstr="#049e9c",GradientType=1);
                //     z-index: -1;
                //     visibility: hidden;
                //     transition: all 0.3s ease-in-out;
                //     // animation: devInnAnimation 5s linear reverse;
                // }
            }
            &:hover {
              box-shadow: 0px 0px 8px 5px #eee;
                // & .card-body {
                //     &::before {
                //         // animation: devInnAnimation 1s linear ;
                //         // z-index: -1;
                //         visibility: visible;
                //         transition: all 0.3s ease-in-out;
                //         transform: translate(20px, -20px);
                //     }
                //     & .card-img {
                //         & img {
                //             filter: invert(1);
                //         }
                //     }
                //     & .card-title,
                //     & .card-text {
                //         color: $white;
                //     }
                // }
            }
        }
    }
    @keyframes devAnimation {
        0% {
            transform: translate(-50%, -50%) rotate(0);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    @keyframes devInnAnimation {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(20px, -20px);
        }
    }
    .webMobileDevelopment {
      & .webMobileDevCardOuter {
        & .webMobileDevCard {
          border: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          & .card-tittle {
            font-size: 14px;
            font-weight: bold;
            color: $theme1;
            text-align: center;
            margin-bottom: 15px;
            max-width: 150px;
          }
          & .cardFImg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
          }
          & .cardSImg {
            position: relative;
            margin-bottom: -38px;
            z-index: 1;
          }
          & .cardTImg{

          }
          & .cardText {
            font-size: 14px;
            color: $secondary;
            text-align: center;
          }
          &:hover {
            & .card-tittle {
              color: $theme2;
            }
          }
        }
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6){
            margin-top: 45px;
          
        }
        
      }
    }
}
.TechExpertiseSection {
  // background-color: lighten($theme1, $amount: 55);
  background: linear-gradient(to bottom, rgba($theme1, 0.2), rgba($theme2, 0.4));
 & .hero-carousel {
  & .owl-item {
    & .item {
      & .card {
        background-color: transparent;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        & .card-img {
          & img {
            margin: auto;
            width: 75px;
            height: 57px;
            object-fit: contain;
          }
        }
        & .card-title {
          color: $theme1;
          font-weight: bold;
          text-align: center;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
 }
}
.industriesWeServe {
  & .card,
  & .card * {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  & .card {
    position: relative;
    color: $white;
    overflow: hidden;
    border: none;
    border-radius: 0 !important;
    & .card-img {
      position: relative;
      width: 100%;
      height: 387px;
      overflow: hidden;
      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
      }
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        background: #000;
        top: 0;
        opacity: .9;
      }
    }
    & .service-con {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      padding: 30px 20px 72px;
      z-index: 10;
      height: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
      & .top {
        & .icon-web {
          position: relative;
          top: 0;
          padding-bottom: 20px;
          max-width: 65px;
          margin: auto;
          & img {
            filter: invert(1);
          }
        }
        & h3 {
          color: $white;
          font-size: 24px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: $white;
            border-radius: 5px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
      & .bottom {
        position: relative;
        bottom: 50px;
        opacity: 0;
        & p {
          font-size: 14px;
          line-height: 24px;
          color: $white;
          margin: 15px 0;
        }
      }
    }
    & .service-con-list {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 25px 10px;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(255,255,255,.1);
      & ul {
        margin-bottom: 0;
        & li {
          padding: 0;
          margin: 0 !important;
          &:last-child{
            margin-right: 0.5rem;
            & a:last-child {
              border-color: transparent;
            }
          }
          & a {
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Rubik',sans-serif;
            color: $white;
            border-right: 1px solid $white;
            padding: 0 10px;
            text-decoration: none;
            line-height: 14px;
          }
        }
      }
    }
    &:hover {
        & .card-img::after {
          background-color: rgba(12,101,159,.9);
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;}
        & .service-con {
          padding-top: 0;
          & .bottom {
            position: relative;
            bottom: 0;
            opacity: 1;
        }
        & .icon-web {
          top: 100px;
          margin-top: -35px;
          opacity: 0;
        }
        & .service-con-list {
          background-color: rgba(0,0,0,.8);
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin homePage-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin homePage-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin homePage-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin homePage-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin homePage-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin homePage-mixin-max-xs() {

}


// Small devices (landscape phones, less than 768px)
@mixin homePage-mixin-max-sm() {

}

// Medium devices (tablets, less than 992px)
@mixin homePage-mixin-max-md() {

}

// Large devices (desktops, less than 1200px)
@mixin homePage-mixin-max-lg() {

}

// X-Large devices (large desktops, less than 1400px)
@mixin homePage-mixin-max-xl() {

}
