@charset "UTF-8";
@import "variables";
//------------------------------------------HomePage-------------------------------------------------------
[data-page-name="hero"] {
  &.hero-section {
    height: 100vh;
    background-image: url(../image/index/home-banner2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    & .inner_section {
      position: relative;
      z-index: 1;
      & .inner {
        & .hero_title {
          letter-spacing: 1px;
          font-size: 40px;
          line-height: 60px;
          text-shadow: 0 2px 3px rgba($black, 0.6);
        }
        & .section_info {
          letter-spacing: 0.5px;
          font-size: 18px;
        }
      }
      & .inner_img {
        z-index: 0;
      }
      & .inner_img .uperImg {
        position: absolute;
        z-index: 1;
      }
      & .inner_img .uperImg:nth-child(1) {
        width: 10%;
        height: auto;
        left: 20%;
        top: 15%;
        animation: none;
      }
      & .inner_img .uperImg:nth-child(2) {
        width: 15%;
        height: auto;
        left: 28%;
        top: 3%;
        z-index: 1;
        animation-name: heroImg3;
      }
      & .inner_img .uperImg:nth-child(3) {
        width: 14%;
        height: auto;
        right: 15%;
        top: 27%;
        z-index: 0;
        animation-name: heroImg4;
      }
      & .inner_img .uperImg:nth-child(4) {
        width: 10%;
        height: auto;
        right: -2%;
        top: 45%;
        z-index: 0;
      }
      & .inner_img .uperImg:nth-child(5) {
        width: 10%;
        height: auto;
        right: 4%;
        bottom: 15%;
        z-index: 0;
      }
      & .inner_img .uperImg:nth-child(6) {
        width: 8%;
        height: auto;
        left: 4%;
        bottom: 15%;
        z-index: 0;
      }
      & .inner_img .uperImg:nth-child(7) {
        width: 6%;
        height: auto;
        right: 14%;
        top: 15%;
        z-index: 0;
      }
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 0;
    }
  }
  .heroImgAnimation {
    animation: heroImg 5s linear infinite;
  }
  .heroImgAnimation2 {
    animation: heroImg2 15s linear infinite;
  }
  @keyframes heroImg {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes heroImg3 {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  @keyframes heroImg4 {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes heroImg2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

[data-page-name="second"] {
  &.sectionTwo {
    & .devCard {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 8px;
      border: none;
      & .border-outer {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        & span {
          position: absolute;
          width: calc(100% - 60px);
          height: 1px;
          border: none;
          border-top: 2px solid $theme2;
        }
        & .top-left {
          top: 50%;
          left: 0;
          width: 1px;
          height: calc(100% - 60px);
          transform: translateY(-50%);
          border-left: 2px solid $theme2;
        }
        & .top-right {
          top: 50%;
          right: 0;
          width: 1px;
          height: calc(100% - 60px);
          transform: translateY(-50%);
          border-right: 2px solid $theme2;
        }
        & .bottom-left {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-top: none;
          border-bottom: 2px solid $theme2;
        }
        & .bottom-right {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      & .border-accent {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        & span {
          width: 85px;
          height: 35px;
          background-color: transparent;
          border-top-left-radius: 70px;
          border-top-right-radius: 70px;
          border: 2px solid $theme2;
          border-bottom: 0;
          position: absolute;
          transform: rotate(90deg);
        }
        & .top-left {
          top: -29px;
          left: -29px;
        }
        & .top-right {
          top: -29px;
          right: -29px;
          transform: rotate(-90deg);
        }
        & .bottom-left {
          bottom: -29px;
          left: -29px;
        }
        & .bottom-right {
          bottom: -29px;
          right: -29px;
          transform: rotate(-90deg);
        }
      }
      & .card-body {
        padding: 20px 25px;
        position: relative;
        z-index: 1;
        background-color: $white;
        border-radius: 8px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in-out;
        & .card-img {
          width: min-content;
          height: 40px;
          transition: all 0.3s ease-in-out;
          margin: auto auto 15px;
          & img {
            height: 100%;
            transition: all 0.3s ease-in-out;
          }
        }
        & .card-title {
          font-size: 18px;
          line-height: 24px;
          color: $theme1;
          transition: all 0.3s ease-in-out;
          text-align: center;
        }
        & .card-text {
          font-size: 14px;
          line-height: 20px;
          color: $secondary;
          transition: all 0.3s ease-in-out;
          text-align: center;
        }
      }
      &:hover {
        & .card-body {
          & .card-img {
            transform: scale(1.8) skew(15deg);
          }
        }
      }
    }
  }
}

// @keyframes devAnimation {
//     0% {
//         transform: translate(-50%, -50%) rotate(0);
//     }
//     100% {
//         transform: translate(-50%, -50%) rotate(360deg);
//     }
// }
// @keyframes devInnAnimation {
//     0% {
//         transform: translate(0px, 0px);
//     }
//     100% {
//         transform: translate(20px, -20px);
//     }
// }
.webMobileDevelopment {
  position: relative;
  overflow: hidden;
  z-index: 1;
  & .shapes-circle {
    width: 600px;
    height: 600px;
    background: lighten($theme1, 60);
    position: absolute;
    top: 50%;
    right: -100px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: translate(0, -50%);
  }
  & .webMobileDevCardOuter {
    position: relative;
    z-index: 1;
    & .webMobileDevCard {
      cursor: pointer;
      border: 1px solid $theme1;
      border-radius: 120px;
      position: relative;
      background-color: $white;
      -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      & .card-tittle {
        font-size: 18px;
        font-weight: bold;
        color: darken($theme1, 25);
        margin-bottom: 8px;
        transition: all 0.3s ease-in-out;
      }
      & .cardFImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border: 1.5px solid lighten($blue, 25);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        & img {
          width: 40px;
          height: 40px;
        }
      }
      & .cardText {
        font-size: 15px;
        color: $secondary;
        position: relative;
        padding-left: 25px;
        & span {
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .cardNumber {
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: -25px;
        right: 25px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        background-color: $theme1;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
      }
      & .arrowLeft {
        position: absolute;
        right: -70px;
        bottom: 0px;
        width: 51px;
        transform: rotate(42deg);
        z-index: -2;
        background: url(../image/index/our-hiring-model-left-arrow-solid.svg) 0/100% no-repeat;
        height: 100px;
        background-position: bottom right;
      }
      &:hover {
        border-color: $theme2;
        & .card-tittle {
          color: $theme2;
        }
        & .cardFImg {
          background-color: $theme1;
          & img {
            filter: invert(1);
          }
        }
        & .cardNumber {
          background-color: $theme2;
        }
      }
    }
    &:nth-child(even) {
      & .webMobileDevCard {
        margin-top: 100px;
        & .arrowLeft {
          left: -12px;
          bottom: -70px;
          transform: rotate(142deg);
        }
      }
    }
    &:last-child {
      & .arrowLeft {
        display: none;
      }
    }
  }
}
// .TechExpertiseSection {
//   // background-color: lighten($theme1, $amount: 55);
//   background: linear-gradient(to bottom, rgba($theme1, 0.2), rgba($theme2, 0.4));
//   & .hero-carousel {
//     & .owl-item {
//       & .item {
//         & .card {
//           background-color: transparent;
//           opacity: 0.7;
//           transition: all 0.3s ease-in-out;
//           cursor: pointer;
//           & .card-img {
//             & img {
//               margin: auto;
//               width: 75px;
//               height: 57px;
//               object-fit: contain;
//             }
//           }
//           & .card-title {
//             color: $theme1;
//             font-weight: bold;
//             text-align: center;
//           }
//           &:hover {
//             opacity: 1;
//           }
//         }
//       }
//     }
//   }
// }

.TechExpertiseSection {
  background-color: #171622;
  & .card {
    background-color: #171622;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    & .card-img {
      width: 60px;
      height: 100%;
      margin: auto;
      & .filter {
        filter: invert(1);
      }
    }
    & .card-title {
      text-align: center;
    }
    &:hover {
      box-shadow: 0 0 14px #ffffff57 !important;
      border-radius: 10px;
      transform: scale(1.1);
    }
  }
}
.letScheduleSection {
  background-image: linear-gradient(45deg, #108e93, #267281);
  & .heading{
    font-size: 35px;
  }
}
.industriesWeServe {
  & .card,
  & .card * {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  & .card {
    position: relative;
    color: $white;
    overflow: hidden;
    border: none;
    border-radius: 0 !important;
    & .card-img {
      position: relative;
      width: 100%;
      height: 387px;
      overflow: hidden;
      border-radius: 0px;
      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        background: #000;
        top: 0;
        opacity: 0.9;
      }
    }
    & .service-con {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      padding: 30px 20px 72px;
      z-index: 10;
      height: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
      & .top {
        & .icon-web {
          position: relative;
          top: 0;
          padding-bottom: 20px;
          max-width: 65px;
          margin: auto;
          & img {
            filter: invert(1);
          }
        }
        & h3 {
          color: $white;
          font-size: 20px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: $white;
            border-radius: 5px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
      & .bottom {
        position: relative;
        bottom: 50px;
        opacity: 0;
        & p {
          font-size: 14px;
          line-height: 24px;
          color: $white;
          margin: 15px 0;
        }
      }
    }
    & .service-con-list {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 25px 10px;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.1);
      & ul {
        margin-bottom: 0;
        text-align: center;
        & li {
          padding: 0;
          margin: 0 !important;
          &:last-child {
            margin-right: 0.5rem;
            & a:last-child {
              border-color: transparent;
            }
          }
          & a {
            font-size: 12px;
            text-transform: uppercase;
            font-family: "Rubik", sans-serif;
            color: $white;
            border-right: 1px solid $white;
            padding: 0 10px;
            text-decoration: none;
            line-height: 14px;
          }
        }
      }
    }
    &:hover {
      & .card-img::after {
        background-color: rgba(12, 101, 159, 0.9);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      & .service-con {
        padding-top: 0;
        & .bottom {
          position: relative;
          bottom: 0;
          opacity: 1;
        }
        & .icon-web {
          top: 100px;
          margin-top: -35px;
          opacity: 0;
        }
      }
      & .service-con-list {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin homePage-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin homePage-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin homePage-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin homePage-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin homePage-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin homePage-mixin-max-xs() {
  [data-page-name="hero"] {
    &.hero-section {
      & .inner_section {
        & .inner {
          & .hero_title {
            font-size: 20px;
            line-height: 28px;
          }
          & .section_info {
            font-size: 14px;
          }
        }
        & .inner_img {
          & img:last-child {
          }
        }
        & .inner_img .uperImg {
        }
        & .inner_img .uperImg:nth-child(1) {
        }
        & .inner_img .uperImg:nth-child(2) {
        }
        & .inner_img .uperImg:nth-child(3) {
        }
        & .inner_img .uperImg:nth-child(4) {
        }
        & .inner_img .uperImg:nth-child(5) {
        }
        & .inner_img .uperImg:nth-child(6) {
        }
        & .inner_img .uperImg:nth-child(7) {
        }
      }
      &::before {
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@mixin homePage-mixin-max-sm() {
  [data-page-name="hero"] {
    &.hero-section {
      & .inner_section {
        & .inner {
          & .hero_title {
            font-size: 28px;
            line-height: 35px;
          }
          & .section_info {
            font-size: 15px;
          }
        }
        & .inner_img {
          & img:last-child {
          }
        }
        & .inner_img .uperImg {
        }
        & .inner_img .uperImg:nth-child(1) {
        }
        & .inner_img .uperImg:nth-child(2) {
        }
        & .inner_img .uperImg:nth-child(3) {
        }
        & .inner_img .uperImg:nth-child(4) {
        }
        & .inner_img .uperImg:nth-child(5) {
        }
        & .inner_img .uperImg:nth-child(6) {
        }
        & .inner_img .uperImg:nth-child(7) {
        }
      }
      &::before {
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@mixin homePage-mixin-max-md() {
  [data-page-name="hero"] {
    &.hero-section {
      height: auto;
      & .inner_section {
        & .inner {
          & .hero_title {
            font-size: 33px;
            line-height: 40px;
          }
          & .section_info {
            font-size: 16px;
          }
        }
        & .inner_img {
          & img:last-child {
          }
        }
        & .inner_img .uperImg {
        }
        & .inner_img .uperImg:nth-child(1) {
        }
        & .inner_img .uperImg:nth-child(2) {
        }
        & .inner_img .uperImg:nth-child(3) {
        }
        & .inner_img .uperImg:nth-child(4) {
        }
        & .inner_img .uperImg:nth-child(5) {
        }
        & .inner_img .uperImg:nth-child(6) {
        }
        & .inner_img .uperImg:nth-child(7) {
        }
      }
      &::before {
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@mixin homePage-mixin-max-lg() {
  [data-page-name="hero"] {
    &.hero-section {
      & .inner_section {
        & .inner {
          & .hero_title {
            font-size: 35px;
            line-height: 50px;
          }
          & .section_info {
            letter-spacing: 0.5px;
            font-size: 17px;
          }
        }
        & .inner_img {
        }
        & .inner_img .uperImg {
        }
        & .inner_img .uperImg:nth-child(1) {
        }
        & .inner_img .uperImg:nth-child(2) {
        }
        & .inner_img .uperImg:nth-child(3) {
        }
        & .inner_img .uperImg:nth-child(4) {
        }
        & .inner_img .uperImg:nth-child(5) {
        }
        & .inner_img .uperImg:nth-child(6) {
        }
        & .inner_img .uperImg:nth-child(7) {
        }
      }
      &::before {
      }
    }
  }

  [data-page-name="second"] {
    &.sectionTwo {
      & .devCard {
        & .border-outer {
          & span {
          }
          & .top-left {
          }
          & .top-right {
          }
          & .bottom-left {
          }
          & .bottom-right {
          }
        }
        & .border-accent {
          & span {
          }
          & .top-left {
          }
          & .top-right {
          }
          & .bottom-left {
          }
          & .bottom-right {
          }
        }
        & .card-body {
          & .card-img {
            & img {
            }
          }
          & .card-title {
          }
          & .card-text {
          }
        }
        &:hover {
          & .card-body {
            & .card-img {
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin homePage-mixin-max-xl() {
}
